* {
  box-sizing: border-box;
}

@font-face {
  font-family: '8bitWonder';
  src: url('./fonts/04B_30__.TTF');
}

body {
  margin: 0;
  font-family: '8bitWonder';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html {
  height: 100%;
  width: 100%;
}

.container {
  box-sizing: content-box;
  width: 588px;
  height: 420px;
  padding: 2px;
  border: 3px black solid;
  user-select: none;
}

.flexbox {
  display: flex;
  flex-flow: row wrap;
}

.padding-div {
  padding: 5% 28% 9% 25%;
}

.cell {
  width: 28px;
  height: 28px;
}

.snake {
  background-color: black;
  border-radius: 30%;
}

.food {
  background-image: url('./assets/food.svg');
  background-size: 100% 100%;
  animation: appear 200ms cubic-bezier(.5, 1, 0, 1.6), spin 3.5s cubic-bezier(.2, .6, .4, 1) 200ms;
}

.paused {
  opacity: 0.6;
  animation-play-state: paused;
}

.welcome-screen {
  text-align: center;
}

.container h1 {
  font-size: 80px;
  display: block;
  margin-bottom: 4%;
  margin-top: 7%;
}

.container .choose {
  font-size: 20px;
  padding-bottom: 6%;
  padding-top: 12%;
}

.container .level {
  display: inline-block;
  font-size: 25px;
  padding: 4% 4%;
  cursor: pointer;
}

.container .level:hover {
  background-color: rgba(0, 0, 0, .75);
  color: white;
  border-radius: 5px;
}

.cursor {
  cursor: pointer;
}

.score {
  font-size: 30px;
  padding-top: 1%;
  padding-left: 1%;
}

.finalScore {
  font-size: 30px;
  padding-top: 5%;
}

.countDown {
  font-size: 180px;
  padding-top: 18%;
}

@keyframes appear {
  from {
    transform: scale(.1)
  }
  to {
    transform: scale(1)
  }
}

@keyframes spin {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg)
  }
}